<!-- TODO: Rename this file to dashboard.html when ready -->

{% extends "base.html" %}

{% block content %}

<h2>Your Dashboard</h2>

<h3>Welcome, {{ username }}!</h3>

<!-- TODO: Add a button or link to create a new entry -->
<!-- Example: <a href="/create">Create New Entry</a> -->

<br><br>

<!-- TODO: Loop through entries passed from Flask -->
<!-- The variable "entries" will come from your Flask route -->
<!-- Example structure: -->

<!--
{% for entry in entries %}
    <div>
        <h3>{{ entry['title'] }}</h3>
        <p>{{ entry['content'] }}</p>

        <!-- TODO: Add Edit link -->
        <!-- Example: /edit/{{ entry['id'] }} -->

        <!-- TODO: Add Delete link -->
        <!-- Example: /delete/{{ entry['id'] }} -->

    </div>
    <hr>
{% for date in dates %}
    <div>
        <h3>{{ date['title'] }}</h3>
        
        <p>{{ date['subject'] }}</p>

        <!-- TODO: Add Edit link -->
       

    </div>
    <hr>
{% endfor %}

<!-- TODO: If no entries exist, display a message like:
"No entries yet!" -->

<br>

<!-- TODO: Add a logout button -->
<a href="/logout"><button>Logout</button></a>

{% endfor %}
{% endblock %}